<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <table border>
        <thead>
        <tr>
            <th>게시물 ID 번호</th>
            <th>게시물 제목</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="member : ${members}">
            <td th:text="${member.number}"></td>
            <td><a th:href="@{'/board/detail?number=' + ${member.number}}"><span th:text="${member.title}"></span></a></td>
            <!--
            <td th:text="${member.title}"></td>
            <td><a th:href="@{'/detail/' + ${member.number}}" th:text="${member.title}"></a></td>
            <td><a th:href="@{'/board/detail'}" th:text="${member.title}"></a></td>
            -->
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>